version: "3.9"

services:
  linux_tweet_app:
    build:
      context: ./linux_tweet_app
    image: linux_tweet_app
    restart: unless-stopped

  nginx:
    image: nginx:stable
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/nginx.conf:ro
      - ./certs:/etc/nginx/certs:ro
      - ./html:/usr/share/nginx/html
    entrypoint: >
      sh -c "
        set -eux;
        until [ -f /etc/nginx/certs/cert.pem ]; do
          echo 'Waiting for certificate...';
          sleep 2;
        done;
        echo 'Certificate found, starting NGINX';
        exec /docker-entrypoint.sh nginx -g 'daemon off;'
      "

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      #- ./certs:/etc/letsencrypt/live/example-nginx-reverse.app/
      - ./certs:/etc/letsencrypt
      - ./html:/usr/share/nginx/html
    entrypoint: >
      sh -c "
        set -eux;
        certbot certonly --webroot -w /usr/share/nginx/html -d example-nginx-reverse.app --email you@example.com --agree-tos --non-interactive || true
      "
