---
- name: Install and configure Docker CE and Compose
  hosts: localhost

  vars:
    docker_apt_key_url: https://download.docker.com/linux/ubuntu/gpg
    docker_repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"

  tasks:
    - name: Ensure required system packages are installed
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - gnupg
          - lsb-release
          - git
        state: present
        update_cache: yes
      become: true      

    - name: Add Docker's official GPG key
      ansible.builtin.apt_key:
        url: "{{ docker_apt_key_url }}"
        state: present
      become: true      

    - name: Add Docker repository
      ansible.builtin.apt_repository:
        repo: "{{ docker_repo }}"
        state: present
      become: true      

    - name: Install Docker CE and Compose plugin
      apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        state: present
        update_cache: yes
      become: true      

    - name: Ensure Docker service is enabled and running
      service:
        name: docker
        state: started
        enabled: true
      become: true      

    # - name: Check Docker version
    #   command: docker --version
    #   register: docker_version_output
    #   changed_when: false

    # - name: Show Docker version
    #   debug:
    #     msg: "{{ docker_version_output.stdout }}"

    # - name: Check Docker Compose version
    #   command: docker compose version
    #   register: compose_version_output
    #   changed_when: false

    # - name: Show Docker Compose version
    #   debug:
    #     msg: "{{ compose_version_output.stdout }}"


    - name: Ensure current user is in docker group
      user:
        name: "{{ ansible_user_id }}"
        groups: docker
        append: yes
      become: true      

    - name: Ensure linux_tweet_app repository is cloned
      git:
        repo: https://github.com/dockersamples/linux_tweet_app.git
        dest: ./linux_tweet_app
        version: master
        force: yes

    - name: Build linux_tweet_app Docker image
      community.docker.docker_image:
        name: linux_tweet_app
        build:
          path: ./linux_tweet_app
        source: build
        state: present

    - name: Start Docker Compose services
      command: docker compose up -d
